body {
    font-size: 18px;
    color: #000;
    font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
    background-color: #999999;
    border-radius: 0;
    border:2px solid #000;
}

.navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}
.navbar-brand h1 { /* Restaurant name */
    font-family: 'Lora', serif;
    color: #000;
    font-size: 1.7em;
    text-transform: uppercase;
    position: relative;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    padding-bottom: 15px;
}

#nav-list {
    margin-top: 10px;
    background-color: #fff
}
#nav-list a {
    color: #000;
    text-align: center;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 2px solid #000;
}
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -33px;
}


#nav-list li p {
    background: #999999;
   color: #000;
   font-weight: bold;
}

/* END HEADER */

/* HOME PAGE */

#home-tiles .item-text {
    background: #999999;
    padding: 10px;
    color: #000;
    font-weight: bold;
}


#home-tiles .item-text p {
    font-size: 1.8em;
    color: #000;
    
}
/*#home-tiles .text-center h2{
    font-size: 5em
    font-weight: bold;
    padding-bottom: 10px;
}*/
/* END OF HOME PAGE */
/********** Large devices only **********/
@media (min-width: 1200px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
    /* Header */
    .navbar-brand {
        padding-top: 10px;
    }
    .navbar-brand h1 { /* Restaurant name */
        padding-top: 10px;
        font-size: 4vw; /* 1vw = 1% of viewport width */
    }

    #collapsable-nav a { /* Collapsed nav menu text */
        font-size: 1.2em;
    }
    #collapsable-nav a span { /* Collapsed nav menu glyph */
        font-size: 1em;
        margin-right: 5px;
    }
    /* End Header */

    /* Home Page */
    .menu-item-description {
        text-align: center;;
    }

}
